@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
	font-family: 'Raleway', Century Gothic;
	height: 5000px;
}

#preloader {
	background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.preload-msg {
	background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

#preload-status, .preload-msg {
	background-image: url(../img/preloader.GIF);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

/* ------------------------------------------------------
					Banner
--------------------------------------------------------- */

.banner {
	position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.banner-wrapper {
	background: rgba(0,0,0,0.7);
	display: table;
    position: absolute;
    width: 100%;
    height: 100vh;
	text-align: center;
}

.banner-content {
	display: table-cell;
    width: 100%;
    height: 100%;
	vertical-align: middle;
	color: #FFF;
}

.banner-content h1 {
	font-size: 64px;
	font-weight: 700;
	margin: 5px 0 15px;	
}

.banner-scroll {	
	display: inline-block;
    position: absolute;	
    left: 0;
    right: 0;
    margin: 0 auto;	
    bottom: 15px;	
	text-align: center;
}

.banner-scroll .scroll {
	width: 120px;
    font-size: 50px;
    text-align: center;
}

.banner-scroll a.scroll:hover {	
	-moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
	color: #FC4349;
}

.banner-scroll a.scroll {
	color: #AAA;
}

/* ------------------------------------------------------
					Navigation
--------------------------------------------------------- */
.navbar-white {
	background: #FFF !important;
	color: #000 !important;
	box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

.navbar-white .navbar-nav>li>a:hover  {
	color:#FC4349 !important;
	/*color:#E74C3C !important;*/
}

.navbar-custom {
	background: rgba(255,255,255,0.3);
	color: #000;
	border: none;
	padding: 5px 0;	
}

.navbar-custom .navbar-nav>li>a, .navbar-custom .navbar-nav>li>a:focus{
	text-transform: uppercase;
	background-color: transparent !important;
	color: inherit;
	font-weight: bold;
	font-size: 12px;
}

.navbar-custom .navbar-nav>li>a:hover  {
	color:#FFF;
}

.navbar-custom  .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:focus, .navbar-custom .navbar-nav>.active>a:hover {
    background-color: transparent !important;
	color: inherit;
	border-bottom: 3px solid #FC4349;
}


.navbar-custom .navbar-brand {
	font: 700 23px/1.26 'Raleway', serif, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #000 !important;
	/*margin-left: 5px !important;*/
}

.navbar-custom .container {
	height: 100%;
}

.navbar-custom .nav-menu-custom {
	height: 100% !important;
}

.nav-menu-custom>ul, .nav-menu-custom>ul>li, .nav-menu-custom>ul>li>a {
	height: 100%;
}


/* ------------------------------------------------------
					Common
--------------------------------------------------------- */

.text-center {
	text-align: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.brdr-right {
	border-right: 1px solid #E0E0E0;
}

.progress {
	height: 30px;
}

.progress-bar {
	text-align: left;	
}

.progress-text {
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	height: 30px;
}

.text-upper {
	text-transform: uppercase;
}

.last-row {
	margin-right: -15px;
    margin-left: -15px;
}

/* ------------------------------------------------------
					Button
--------------------------------------------------------- */
.button {
	font-size: 13px;
    line-height: 26px;
    padding: 11px 29px;	
	margin-right: 32px;
    margin-bottom: 12px
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    text-align: center;
	text-transform: uppercase;
}

.button-blue {
	background: #2980B9;
	color: #FFF;
	text-decoration: none;
}

a.button-blue:hover, a.button-blue:focus  {
	background: #1870A7;
	color: #FFF;
	text-decoration: none;
}

/* ------------------------------------------------------
					Section
--------------------------------------------------------- */
.section {
	padding: 80px 0px 100px;
}

.section .title {
	font-size: 40px;
	font-weight: 500;
	padding-bottom: 10px;
}

.section .quote {
	font-size: 18px;
	font-style: italic;
    line-height: 32px;
    text-align: center;
    text-transform: none;
	margin-bottom: 50px;
}

/* ------------------------------------------------------
					Profile
--------------------------------------------------------- */
#profile {
	background: #ECF0F1;
	color: #2980B9;
}

.profile-about {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.subtitle {
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 20px;
}

.profile-about p {
	margin-bottom: 25px;
	line-height: 2.2em;
}

.profile-img img {
	width: 100%;
	border: 3px solid #fff;
}

.profile-img {
	height: 60%;
	width: 100%;
	border: 3px solid #fff;
	background: url('../img/profile-1.jpg');
	background-size: cover;
}

.profile-contact h5 {
	/*border-bottom: 1px solid #DBE0E1;*/
	margin-bottom: 12px;
    padding-bottom: 12px;
}

.text-profile{
	background: rgba(0,0,0,0.7);
	margin-top: 90%;
	width: 100%;
	height: 60px;
}

.text-profile h3 {	
	font-family: 'Pacifico';	
}

.text-profile h3, .text-profile p {
	color: #FFF;
	text-align: center;
}

/* ------------------------------------------------------
					Skills
--------------------------------------------------------- */
#skill {
	
	color: #434343;
}


/* ------------------------------------------------------
					Education
--------------------------------------------------------- */
#education {
	background: #ECF0F1;
	color: #434343;
}

.education-timeline {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}

.education-timeline:before {
    background-color: #E0E0E0;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 0;
}

.education-timeline .edu-icon {
	float: right;
    margin: -6px -35px 0 0;
    color: #000;
    text-align: center;
    background-color: #E0E0E0;
    border-radius: 6px;
    height: 40px;
    width: 40px;
    padding-top: 10px;
	font-size: 18px;
}

.education-timeline .column-left {
    text-align: right;
    margin-right: 30px;
}

.education-timeline .column-right {
    text-align: left;
    margin-left: 30px;
}

.education-timeline .row {
	padding-bottom: 50px;
}


/* ------------------------------------------------------
					Education
--------------------------------------------------------- */
#experience {
	color: #434343;
}

.experience-timeline {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}

.experience-timeline:before {
    background-color: #E0E0E0;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 0;
}

.experience-timeline .edu-icon {
	float: right;
    margin: -6px -35px 0 0;
    color: #000;
    text-align: center;
    background-color: #E0E0E0;
    border-radius: 6px;
    height: 40px;
    width: 40px;
    padding-top: 10px;
	font-size: 18px;
}

.experience-timeline .column-left {
    text-align: right;
    margin-right: 30px;
}

.experience-timeline .column-right {
    text-align: left;
    margin-left: 30px;
}

.experience-timeline .row {
	padding-bottom: 50px;
}

.experience-timeline .last-row {
	padding-bottom: 0px;
}

/* ------------------------------------------------------
					Stats
--------------------------------------------------------- */
#stats {
	background: #ECF0F1;
}

.stat-icon {
	margin-bottom: 10px;
    font-size: 32px;
    color: #222;
}


/* ------------------------------------------------------
					Portfolio
--------------------------------------------------------- */

#portfolio-controls-wrapper {
    text-align: center;
    float: none;
    width: 100%;
}

.center-pills {
    display: inline-block;
}

#grid .mix {
	width: 200px;
    height: 150px;
    vertical-align: top;
    margin: 20px 20px 20px 0;
    color: #fff;
    text-align: center;
}

.portfolio-grid {
	margin-top: 20px;
}

.item {
	padding: 0;
}

.portfolio-grid .item > .overlay {
    position: relative;
    z-index: 5;
}

.portfolio-grid .item > .overlay:before {
	position: absolute;
    z-index: 10;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.portfolio-grid .item > .overlay:hover:before {
    background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-grid .item > .overlay:hover > .item-link {
    opacity: 0.9;
}

.portfolio-grid .item > .overlay:hover > .item-link > a.magnify {
    left: 0;
}

.portfolio-grid .item > .overlay:hover > .item-link > a.magnify {
    background-color: #2e2e2e;
}


.portfolio-grid .item > .overlay > .item-link {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    width: 88px;
    height: 48px;
    margin-top: -48px;
    margin-left: -44px;
    opacity: 0;
}

.portfolio-grid .item > .overlay > .item-link > a {
    display: block;
	position: absolute;
	top: 0;
	width: 48px;
	height: 48px;
	line-height: 48px;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
}

.portfolio-grid .item > .overlay > .item-link > a.magnify {
	left: 0;
	background-color: #c80a48;
}



/* ------------------------------------------------------
					Timeline - Common
--------------------------------------------------------- */
.timeline-col-title, .timeline-col-duration {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 10px;
}

.timeline-col-org {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 5px;
}

.timeline-col-location , .timeline-col-desc{
	font-size: 15px;
}



/* ------------------------------------------------------
					Transition
--------------------------------------------------------- */
#left, #right {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.125s;
  opacity: 0;
}